apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-postgres
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.postgres.replicas }}
  selector:
    matchLabels:
      app: postgres
    {{- include "helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: postgres
      {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - env:
        - name: TZ
          value: Asia/Seoul
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              key: POSTGRES_USER
              name: {{ include "helm.fullname" . }}-postgres-secret
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              key: POSTGRES_PASSWORD
              name: {{ include "helm.fullname" . }}-postgres-secret
        - name: POSTGRES_DB
          valueFrom:
            secretKeyRef:
              key: POSTGRES_DB
              name: {{ include "helm.fullname" . }}-postgres-secret
        image: {{ .Values.postgres.postgres.image.repository }}:{{ .Values.postgres.postgres.image.tag
          | default .Chart.AppVersion }}
        name: postgres
        ports:
        - containerPort: 5432
        resources: {}
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: postgres-storage
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: {{ include "helm.fullname" . }}-postgres-pvc
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-rabbitmq
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rabbitmq.replicas }}
  selector:
    matchLabels:
      app: rabbitmq
    {{- include "helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: rabbitmq
      {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: {{ .Values.rabbitmq.rabbitmq.image.repository }}:{{ .Values.rabbitmq.rabbitmq.image.tag
          | default .Chart.AppVersion }}
        name: rabbitmq
        ports:
        - containerPort: 5672
        - containerPort: 15672
        resources: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-redis
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.redis.replicas }}
  selector:
    matchLabels:
      app: redis
    {{- include "helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: redis
      {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - image: {{ .Values.redis.redis.image.repository }}:{{ .Values.redis.redis.image.tag
          | default .Chart.AppVersion }}
        name: redis
        ports:
        - containerPort: 6379
        resources: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-scheduler
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.celeryScheduler.replicas }}
  selector:
    matchLabels:
      app: celery-scheduler
    {{- include "helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: celery-scheduler
      {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - command:
        - celery
        - -A
        - celery_app.scheduler
        - beat
        - --loglevel=info
        env:
        - name: CELERY_BROKER_URL
          value: rabbitmq
        - name: REDIS_EXTERNAL_SERVER_HOST
          value: redis
        image: {{ .Values.celeryScheduler.celeryScheduler.image.repository }}:{{ .Values.celeryScheduler.celeryScheduler.image.tag
          | default .Chart.AppVersion }}
        name: celery-scheduler
        resources: {}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "helm.fullname" . }}-worker-news
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.celeryWorkerNews.replicas }}
  selector:
    matchLabels:
      app: celery-worker-news
    {{- include "helm.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        app: celery-worker-news
      {{- include "helm.selectorLabels" . | nindent 8 }}
    spec:
      containers:
      - command:
        - celery
        - -A
        - celery_app.scheduler
        - worker
        - -Q
        - collector
        env:
        - name: CELERY_BROKER_URL
          value: rabbitmq
        - name: REDIS_EXTERNAL_SERVER_HOST
          value: redis
        image: {{ .Values.celeryWorkerNews.celeryWorkerNews.image.repository }}:{{ .Values.celeryWorkerNews.celeryWorkerNews.image.tag
          | default .Chart.AppVersion }}
        name: celery-worker-news
        resources: {}
        volumeMounts:
        - mountPath: /app/celery_app/logs
          name: logs
        - mountPath: /app/celery_app/tts
          name: tts-storage
      volumes:
      - hostPath:
          path: /var/log/newslingo/news
          type: DirectoryOrCreate
        name: logs
      - hostPath:
          path: {{ .Values.storage.ttsPath | default "/mnt/newslingo/tts" }}
          type: DirectoryOrCreate
        name: tts-storage