apiVersion: v1
kind: Secret
metadata:
  name: {{ include "helm.fullname" . }}-postgres-secret
  labels:
  {{- include "helm.labels" . | nindent 4 }}
data:
  POSTGRES_DB: {{ required "postgresSecret.postgresDb is required" .Values.postgresSecret.postgresDb
    | b64enc | quote }}
  POSTGRES_PASSWORD: {{ required "postgresSecret.postgresPassword is required" .Values.postgresSecret.postgresPassword
    | b64enc | quote }}
  POSTGRES_USER: {{ required "postgresSecret.postgresUser is required" .Values.postgresSecret.postgresUser
    | b64enc | quote }}
type: Opaque