apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ include "helm.fullname" . }}-postgres-pv
  labels:
  {{- include "helm.labels" . | nindent 4 }}
spec:
  accessModes:
  - ReadWriteOnce
  capacity:
    storage: 5Gi
  hostPath:
    path: /mnt/data/postgres
  persistentVolumeReclaimPolicy: Retain