__pycache__/
*.py[cod]
*$py.class


# Editors
.vscode/
vscode
.venv/**/*

# Mac/OSX
.DS_Store

# package
build
dist
*.egg-info

# test output directory
data/
output/
mnt/
downloaded_files
test/html
test/seed_file
# celerybeat-db
*.db

# test log
log/**

#
.vscode/*
.pylntrc
evidences
.excel


celerybeat-schedule.*

.env*
!.env.example

logs/

secret.yaml

# Alembic 캐시 및 임시 파일
alembic/__pycache__/
alembic/versions/__pycache__/
alembic/versions/*.pyc
alembic/versions/*.pyo

# 로그 파일 (필요한 경우 추가)
alembic/logs/
alembic/debug.log

# 가끔 사용자가 생성하는 Alembic 작업 폴더 (없을 수도 있음)
alembic/workdir/